.boxed{
    border-radius: 50px;
    color: white;
    font-family: 'Trebuchet MS';
    box-shadow: 10px 10px 10px black;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #434343 74%);
    font-size: 30px;
    height: fit-content;
    width: 750px;
    padding: 0px;
    margin: 15px;
}

body{
    background-image: linear-gradient(to bottom right, #130f40 0%, #000000 74%);
    background-size: 200% 200%;
    animation: movingGradient 8s linear infinite alternate;
}

@keyframes movingGradient {
    from { background-position: 0 0; }
    to   { background-position: 100% 100%;}
}

#audio-player {
    height: 50px;
    width: 500px;
    overflow: hidden;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

#controls {
    height: 50px;
    background-color: #808080;
    width: 350px;
}

.time {
    font-size: 10px;
    color: white;
    position: relative;
    top: 14px;
    margin: 5px;
}

.ui-progressbar {
    background: white;
}

.ui-progressbar-value {
    background: white;
}

#progressbar, #volume {
    height: 10px;
    display: inline-block;
    border-radius: 0px;
    border: none;
    position: relative;
    top: 16px;
}

#progressbar {
    width: 150px;
}

#play, #mute{
    font-size: 16px;
    width: 20px;
    position: relative;
    top: 17px;
}

#play {
    margin-left: 15px;
}

#volume {
    width: 50px;
}

#more-info-box {
    display: inline-block;
    width: 150px;
    height: 50px;
    position: relative;
    left: 350px;
    top: -50px;
    padding-top: 18px;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
    color: white;
}

#more-info-box, #more-info-box > span {
    cursor: context-menu;
}

#info-tray {
    display: inline-block;
    color: white;
    position: relative;
    width: 100%;
    top: -65px;
    height: 50px;
    padding: 5px;
}